@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
	font-family: 'Do Hyeon', sans-serif;
	color: white;
}
table {
	
	border: 3px solid white;
	background-color: black;
	color: white;
	font-size: 15px;
}
h1{
	font-size: 50px;

	
}
body{
	background-image: url("main.jpg");
	background-size: cover;
	background-attachment: fixed;
}


input {
	background-color :white;
	color: black;
	font-size: 20px;
}
td{
	display: inline-block;
	align-items: center;
	margin: 10px;
	font-size: 25px;
}
tr{
	border: 2px solid white;
	
}

